@font-face {
  font-family: "HANA";
  src: url(./etc/fonts/Hana2-Medium.ttf);
}

body {
  font-family: "HANA" !important;
}

.text-hana {
  color: #069178;
}

.btn-hana-green {
  background-color: #069178;
}

.btn-hana-blue {
  background-color: #393f57;
}

.bg-hana {
  background-color: #f2f5f1;
}
